{% extends "base_generic.html" %}

{% block content %}
<div class="container">


 
{% if form.errors %}
  <h4>Your username and password didn't match. Please try again.</h4>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <h4>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</h4>
  {% else %}
    <h4>Login Page.</h4>
  {% endif %}
{% endif %}
<div class="row text-center">
  <div class="col">
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      
      <div>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </div>
      <div>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </div>
      
      <div>
        <input type="submit" value="login" />
        <input type="hidden" name="next" value="{{ next }}" />
      </div>
      </form>
      
      {# Assumes you setup the password_reset view in your URLconf #}
      <p><a href="{% url 'password_reset' %}">Forget password?</a></p>
  </div>

</div>
</div>
{% endblock %}