<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Lobster&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Add additional CSS in static file -->
  <!-- Moment.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

  <!-- Tempus Dominus Bootstrap 4 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
 
 
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body >

  <section id="nav ">
    <div class="container ">
      <div class="row no-gutter">
        <div class="col px-0" >
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">OKCS Library</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'books' %}">Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'authors' %}">Authors</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Etc</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
        </div>
        
      </div>
    </div>
   
  </section>
  <section id="mainContent">
    <div class="container ">
    
          <div class="row">
            <div class="col-sm-10 px-0 bg-light ">
              {% block content %}
            
              {% endblock %}
              
              {% block pagination %}
                {% if is_paginated %}
                  <div class="pagination px-4 pt-3">
                    <span class="page-links">
                      {% if page_obj.has_previous %}
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      {% endif %}
                      <span class="page-current">
                        <p>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</p>
                      </span>
                      {% if page_obj.has_next %}
                        <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      {% endif %}
                    </span>
                  </div>
                {% endif %}
              {% endblock %} 
            </div>
            <div class="col-sm-2 ">
                {% block sidebar %}
                {% if user.is_authenticated %}
                <ul class="sidebar-nav">
                  {% if user.is_authenticated %}
                  <li>User: {{ user.get_username }}</li>
                  <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li>
                  <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>   
                  {% else %}
                  <li>
                   
                    <!-- <a href="{% url 'login'%}?next={{request.path}}">Login</a> -->
                  </li>   
                  {% endif %} 
                </ul>
                
                {% if user.is_staff %}
                <hr />
                <ul class="sidebar-nav">
                <li>Staff</li>
                {% if perms.catalog.can_mark_returned %}
                <li><a href="{% url 'all-borrowed' %}">All borrowed</a></li>
                <li><a href="/admin">Go Admin</a></li>
                {% endif %}
                </ul>
                {% endif %}
        
            <hr />
            <form>
              
              <div class="form-row">
                <div class=" mb-3">
                  <label for="validationServer02">Reqeust to Wish Books </label>
                  <input type="text" class="form-control is-valid" id="validationServer02" value="Wish book" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" aria-describedby="invalidCheck3Feedback" required>
                  <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                  </label>
                  <!-- <div  id="invalidCheck3Feedback" class="invalid-feedback">
                    You must agree before submitting.
                  </div> -->
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
                {% else %}
                <div>
                  <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    
                    <div>
                      <td>UserName</td>
                      <td>
                        <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                      </td>
                    </div>
                    <div>
                      <td>Password</td>
                      <td>
                        <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                      </td>
                    </div>
                    
                    <div>
                      <input type="submit" value="login" />
                      <input type="hidden" name="next" value="{{ next }}" />
                    </div>
                    </form>
                    
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a href="{% url 'password_reset' %}">Forget password?</a></p>

                  
                    <p><a href="{% url 'password_reset' %}">Register New Account</a></p>
                </div>
                 {% endif %} 
                  
                {% endblock %}
            </div>

           
          </div>
        
       
    </div>
  </section>

</body>
</html>