{% extends "base_generic.html" %}


{% block content %}
{% load static %}
 <style>
#cover{
    background: url("{% static 'images/book_bg4.jpg' %}") center top no-repeat;
    background-size:cover;
    color: whitesmoke;
    height:70vh;
    text-align: center;
    display: flex;
    align-items: center;
  
 
}
</style>
<div class="bg-light">
  <section id="cover">
    <div id="cover-caption">
        <div class="container pt-md-5 pb-md-5 no-gutter py-3" >
          <div class="row text-center" >
            <div class="col-10 offset-1 col-lg-6 offset-lg-3 text-center pt-2 py-sm-4 rounded" id="maintitleBox">
              <h1 >OKCS Library </h1>
              <div class="px-lg-5 h-5" >Welcome to <em>OKCS Library </em> is a very simple library of the Ottawa Korean Community School.</p>
                <p>Every student and parent who register the school can borrow the book in this library.</div>
            
                <!-- <form action="" class="form-inline   justify-content-center pt-3">
                  <div class="form-group px-1 pt-2">
                      <label class="sr-only">Name</label>
                      <input type="text" class="form-control form-control-lg" placeholder="Your name">
                  </div>
                  <div class="form-group px-1 pt-2">
                      <label class="sr-only">Email</label>
                      <input type="text" class="form-control form-control-lg" placeholder="YourEmail@gmail.com">
                  </div>
                  <div class=" form-group px-1  pt-2">
                    <button type="submit" class="btn btn-success btn-lg ">okay, go!</button>
                  </div>
                
              </form> -->
      
          
                
          </div>
        
          </div>
            
        </div>
    </div>
  </section>

  <div class="row">
    <!-- <h2>UML Models</h2>
    <p>An UML diagram of the site's Django model structure is shown below. </p>
    
    <div>
        {% load static %}
        <img src="{% static "images/local_library_model_uml.png" %}" alt="My image" style="width:555px;height:540px;"/>
    </div>   -->
    
    <div class='col pt-4 px-5 '>
      <h2>Resource</h2>
      <p>The library has the following record counts:</p>
      <ul>
        <li><strong>Books:</strong> {{ num_books }}</li>
        <li><strong>Copies:</strong> {{ num_instances }}</li>
        <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
        <li><strong>Authors:</strong> {{ num_authors }}</li>
      </ul>
      <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
    </div>



  </div> 

</div>

{% endblock %}