.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  
}

.object-list {
    padding: 0;
    list-style: none;
}

.list-header{
    background-color: #d4f5d8;
}

.font-size-smaller{
    font-size:smaller;
}
.font-size-smallest{
    font-size:xx-small;
}


#cover{
    background: url("http://drive.google.com/uc?export=view&id=1qpoahn5Ee5r9M8gYp4ZKtHxG7-Tj54ba") center top no-repeat;
    background-size:cover;
    color: whitesmoke;
    height:70vh;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption{
    width:100%;
    height: 100%;
}

#maintitleBox{
    background: rgba(0, 0, 0, 0.3);
}