{% extends "base_generic.html" %}

{% block content %}
<div class="px-4 pt-4">
  <h1>Author List</h1>
  <div class="d-flex justify-content-end">
    <a href="{% url 'author_create' %}">Add Author</a>
  </div>
  {% if author_list %}
  <ul class="object-list mt-4 " >
    <li>
      <div class="row list-header py-2">
        <div class="col-6">Name</div>
        <div class="col-3">date_of_birth</div>
        <div class="col-3">ISdate_of_death</div>
      
      
      </div>
   
    
    
  </li>
    {% for author in author_list %}
      <li>
       
          <div class="row py-2 border-top">
            <div class="col-6"><a href="{{ author.get_absolute_url }}">{{ author.last_name }}</a></div>
            <div class="col-3"> {{author.date_of_birth}}</div>
            <div class="col-3"> {{author.date_of_death}}</div>
            
          </div>
       
        
        
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no author in the library.</p>
  {% endif %}   
</div>    
{% endblock %}